.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  min-width: 820px;
}

.container{
  width: 80%;
  padding: 10px;
}
.row{
  display: flex;
  justify-content: space-evenly;
}
.element{
  min-width: 230px;
  padding: 10px 0;
  border-bottom: 2.5px solid green;
}
